<div class="row">
    <div class="col-xs-12 mt-5">
        <h1>Posts</h1>
        <div class="list-group" *ngFor="let post of posts; let i = index" >
            
            <li [ngClass]="{'list-group-item': true, 'list-group-item-success': posts[i].loveIts > 0, 'list-group-item-danger': posts[i].loveIts < 0}">
                <p class="float-right">{{ post.created_at | date:"short" }}</p>
                <h4 [ngStyle]="{color: getColor()}">{{ post.title }}</h4>      
                <p class="list-group-item-text">{{ post.content }}</p>  
                <button class="btn btn-success mr-2" (click)="loveUp(i)">Love it!</button>
                <button class="btn btn-danger" (click)="loveDown(i)">Don't Love it!</button>
                <button class="btn btn-danger float-right" (click)="deletePost(post)">
                    Supprimer Post
                </button>
              </li>
        </div>
    </div>
</div>